opencv-python-headless==4.10.0.84
numpy==1.26.4
matplotlib==3.9.2
scikit-learn==1.5.2
albumentations==1.4.18
ultralytics==8.3.10
pupil-apriltags==1.0.4.post10

# opencv-contrib-python==4.10.0.84
# Pillow==10.4.0
# tensorflow==2.17.0
# pandas==2.2.3
# keras==3.6.0
# label-studio==1.13.1
# label-studio-converter==0.0.59 